<!DOCTYPE html>
<html>
    <head>
        <title>DTP Forecast</title>
        <link rel="stylesheet" href="/assets/css/styles.css" type="text/css">
        <meta charset="utf-8">
    </head>
    <body>
        <div class="form">
            <div class ="inputblock">
                <select id="Region" name="Region">
                    <option disabled selected value="">Выберите регион</option>
                    <option value="Москва">Москва</option>
                    <option value="Московская область">Московская область</option>
                    <option value="Санкт-Петербург">Санкт-Петербург</option>
                    <option value="Казань">Казань</option>
                </select>
                <input name="District" placeholder ="Введите район">
                <button>Рассчитать</button>
            </div>
            <div class = "infoblock">
                <p class="infotext">
                    Регион: {{.Region}}
                    Район: {{.District}}
                    Коэффициент аварийности равен {{.Percent}}%
                </p>
            </div>
        </div>
        <script src="/assets/js/script.js"></script>
    </body>
</html>