<!DOCTYPE html>
<html>
    <head>
        <title>Прогнозирование ДТП</title>
        <link rel="stylesheet" href="/assets/css/styles.css" type="text/css">
        <meta charset="utf-8">
    </head>
    <body>
        <div class="form">
            <div id="inputs" class ="inputblock">
                <select id="Region" name="Region">
                    <option disabled selected value="">Выберите регион</option>
                    <option value="Москва">Москва</option>
                    <option value="Московская область">Московская область</option>
                    <option value="Санкт-Петербург">Санкт-Петербург</option>
                </select>
                <input name="District" placeholder ="Введите район" autofocus>
                <button id="Forebutton">Рассчитать</button>
            </div>
            <div class = "infoblock">
                <p id = "infotext" class="infotext">Регион: {{.Region}}
                    Район: {{.District}}
                    Коэффициент аварийности равен {{.Percent}}%</p>
                {{if (eq .Color 1)}}
                <p class ="signalsquare" id="signal" style="background-color: rgb(252, 145, 145);">ВЫСОКИЙ</p>
                {{else if (eq .Color 2)}}
                <p class ="signalsquare" id="signal" style="background-color: rgb(255, 255, 133);">СРЕДНИЙ</p>
                {{else if (eq .Color 3)}}
                <p class ="signalsquare" id="signal" style="background-color: rgb(100, 253, 100);">НИЗКИЙ</p>
                {{end}}
            </div>
        </div>
        <img src="/src/side.svg" alt="Front car" class="photos">
        <script src="/assets/js/script.js"></script>
    </body>
</html>